# Files and folders to ignore

# 1. intermediate files
*.o
*.d


# 2. Windows related

Builds/VS2013/**/Debug
Builds/VS2013/**/Release
Builds/VS2013/x64
Builds/VS2013/*.sdf
Builds/VS2013/*.opensdf
Builds/VS2013/*.suo
Builds/VS2013/*.user
Builds/VS2013/*/*.sdf
Builds/VS2013/*/*.opensdf
Builds/VS2013/*/*.suo
Builds/VS2013/*/*.user



